#include <zephyr/dt-bindings/display/panel.h>

/ {
    chosen {
        zephyr,display = &gc9a01_display;
    };

    mipi_dbi_gc9a01 {
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&spi1>;
        dc-gpios    = <&gpiob 1 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpiob 8 GPIO_ACTIVE_LOW>;
        write-only;
        #address-cells = <1>;
        #size-cells = <0>;

        gc9a01_display: gc9a01@0 {
            compatible = "galaxycore,gc9x01x";
            reg = <0>;
            mipi-max-frequency = <DT_FREQ_M(60)>;
            width  = <240>;
            height = <240>;
            display-inversion;
            pixel-format = <PANEL_PIXEL_FORMAT_RGB_565>;
        };
    };
};

&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_sck_pa5 &spi1_mosi_pa7 &spi1_miso_pa6>;
    pinctrl-names = "default";
    cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;
};
